<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<!--
`offline-screen`
An element that displays a message screen

@demo demo/index.html 
-->

<dom-module id="offline-screen">
    <template>
        <style>
            :host {
                display: block;

            }

            paper-card {
                position: absolute;
                top: 50%;
                left: 50%;
                /*margin-top: -100px;*/
                /*margin-left: -100px;*/
                /*width: 200px;*/
                /*height: 200px;*/
            }

            iron-icon {
                --iron-icon-fill-color: #d3d3d3;
                width: 50%;
                height: 50%;
            }
        </style>
        <paper-card id="card">
            <div class="card-content">
                <h2>[[title]]</h2>
                <iron-icon icon="[[ironIcon]]"></iron-icon>
            </div>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'offline-screen',
            properties: {
                ironIcon: {
                    type: String,
                    value: 'remove-circle'
                },
                title: {
                    type: String,
                    value: 'Website now offline'
                },
                width: {
                    type: Number,
                    value: 200
                },
                height: {
                    type: Number,
                    value: 200
                }
            },
            attached: function () {
                var card = document.getElementById('card');
                card.style.width = this.width + 'px';
                card.style.height = this.height + 'px';
                card.style.marginTop = '-' + this.width / 2 + 'px';
                card.style.marginLeft = '-' + this.width / 2 + 'px';
            }
        });
    </script>
</dom-module>
